@import 'styles/variables';
@import 'bootstrap/scss/bootstrap';

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  @extend .py-5;
}

.NavbarInner { @extend .collapse, .navbar-collapse; }
.NavbarMain { @extend .navbar, .navbar-expand-lg, .navbar-light, .bg-light; }
.Navbar { }
.NavbarSecondary { background-color: $gray-300; @extend .container, .text-right, .py-2, .px-5 }
.NavSimple { @extend .nav; }
.SearchInline { @extend .form-inline, .my-2, .my-lg-0; }
